<div class="row">
	<div class="span8">
		<h3>{{teacherListing}}</h3>

		<form method="POST" action="/createtrs">

			<label for="teachername">
				teachername <input type="text" name="teachername" id="teachername"> 
			</label>


			<label for="introduction">
				introduction <input type="text" name="introduction" id="introduction"> 
			</label>

			<label for="skills">
				Skills <input type="text" name="skills" id="skills"> 
			</label>			

			
			<input type="submit" value="Thank you teacher!">

		</form>
	</div>
</div>






