<div class="row">
	<div class="span8">
		<h3>{{teacherListing}}</h3>

		<form method="POST" action="/createtrs">

			<label for="teachername">
				teachername <input type="text" name="teachername" id="teachername"> 
			</label>

			<label for="subject">
				Skills <input type="text" name="subject" id="subject"> 
			</label>

			<label for="voicechat">
				Voice Chat via Skype <input type="checkbox" name="voicechat" id="voicechat"> 
			</label>

			<label for="videochat">
				Vedio Chat via Google Hangout <input type="checkbox" name="videochat" id="videochat"> 
			</label>

			<label for="fullservice">
				Full service via Webex <input type="checkbox" name="fullservice" id="fullservice"> 
			</label>

			<input type="submit" value="Thank you teacher!">

		</form>
	</div>
</div>






