<div class="row">
	
	<!-- first column w/ image-->
	<div class="span4">
		<h2>{{tchr.teachername}}</h2>

	</div>
	
	<!-- second column w/ details-->
	<div class="span4">
		<h2>Skills: {{tchr.subject}}</h2>
	</div>

	<!-- third column w/ listings -->
	<div class="span2">
		<h3>Your Students</h3>
		<hr>
		{{#allstu}}
		<li>
			<a href="/students/{{slug}}">{{allstu}}</a>
		</li>
		{{/allstu}}

		
		<a href="/students">Rate your students</a>
		
		<br>
		<a href="/createtrs">Add new teacher</a>
	</div>

</div>