

<div class="row">

	<div class="span6">
		
		<hr>
		

		{{#students}}
		
		<li><a href="/students/{{slug}}">{{studentname}}</a> - {{suggesteddate}}</li>
			
		{{/students}}
		
		</hr>
	
	</div>

</div>

	<!--
	<div class="control-group">
	  <label class="control-label" for="inputIcon">Your e-mail address</label>
  		<div class="controls">
    		<div class="input-prepend">
      			<span class="add-on"><i class="icon-envelope"></i></span>
      			<input class="span2" id="inputIcon" type="text">
    		</div>
  		</div>
	</div>
	-->
	<!-- right column -->

	<div class="span6">

		<h3>{{pageTitle}}</h3>
		<h3>{{teacherListing}}</h3>

		<h3>Start a Session</h3>
		
		<p></p>
		<li>Get your private tutoring here</li>
		<p><a href="https://plus.google.com/hangouts/_?gid=APP_ID" style="text-decoration:none;">
  				<img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-60x230-normal.png"
			    alt="Start a Hangout"
    			style="border:0;width:230px;height:60px;"/>
			</a>
		</p>
		<p></p>
		<p>
			<a href="/create">Request a course</a>
		</p>
		
		<p>
			<a href="/createtrs">Are you the best tutor in the world?</a>
		</p>
		</li>
	</div>
</div>