<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{pageTitle}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="/css/style.css"> <!-- su and webrtc styles -->
        
        <script src="/js/webrtc.io.js"></script>


        <style>
            body {
                padding-top: 180px;
                padding-bottom: 40px;
            }
            div.img {
                margin:2px;
                height:auto;
                width:auto;
                float:left;
            }
        </style>
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    </head>

    <body onload="init()">
        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        <div class="container">

            {{{yield}}}

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/js/vendor/bootstrap.min.js"></script>

        <script src="/js/main.js"></script>

    <div id="videos">

      <video id="you" class="flip" autoplay width="263" height="200" style="position: absolute; left: 0px; bottom: 0px;"></video>
    </div>

    
    <script src="/js/script.js"></script>
  </body>


</html>
