
<div class="row">

	<!-- second column w/ details-->
	<div class="span4">
		<h2>{{stu.name}}</h2>
		<hr>
		<p>{{stu.age}}</p>
		<p>{{stu.email}}</p>
		<p>{{stu.trname}}</p>
		<p>{{stu.tremail}}</p>

		<p> </p>

		<p><a href="https://plus.google.com/hangouts/_?gid=APP_ID" style="text-decoration:none;">
  				<img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-60x230-normal.png"
			    alt="Start a Hangout"
    			style="border:0;width:230px;height:60px;"/>
			</a>
		</p>
		<li>Make a quick call for a quick question</li>
            <div id = "genSkypeCall">
                <script type = "text/javascript">
                    Skype.ui({
                        name:"call",
                        element:"genSkypeCall",
                        participants:["echo123"],
                        listParticipants: "true"
                    });
                </script>
            </div>
	</div>

	<!-- third column w/ listings -->
	<div class="span2">
		<h3>Students</h3>
		<hr>
		{{#allstu}}
		<li>
			<a href="/students/{{slug}}">{{name}}</a>
		</li>
		{{/allstu}}

<br><br>
		<a href="/students/{{stu.slug}}/edit" class="btn btn-info">edit</a>

		<br>
		<a href="/create">Add new Student</a>
	</div>

</div>