

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body { 
	background-image:url("../img/main.png");
	background-position:980px 600px; 
	background-repeat:no-repeat;
	background-attachment:fixed;
}














